{% extends "base.html.twig" %}

{% block title %}
    Edit Product
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-control">
        {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
