{% extends 'base.html.twig' %}

{% block title %}SymfonyExample{% endblock %}

{% block body %}
    {% if products %}
        <table id="products" class="table table-striped">
            <thead>
            <tr>
                <th>Products Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>
                        <a href="/product/{{ product.id }}" class="btn btn-dark">Show</a>
                        <a href="/product/edit/{{ product.id }}" class="btn btn-light">Edit</a>
                        <a href="#" class="btn btn-danger delete-product" data-id="{{ product.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
